<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">
    <title>BootListings - A Bootstrap Classifieds template</title>
    <!-- Bootstrap core CSS -->
    <link id="switch_style" href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
    <link href="css/dropzone.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="js/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />
    <link rel="stylesheet" type="text/css" href="js/fancybox/helpers/jquery.fancybox-buttons.css?v=2.1.5" media="screen" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"><!--fontawesome-->
    <link rel="stylesheet" type="text/css" href="css/update.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
<script src="../../assets/js/html5shiv.js"></script>
<script src="../../assets/js/respond.min.js"></script>
<![endif]-->
  </head>
  <body>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="index.html" class="navbar-brand ">
            <span class="logo"><strong>Direct Answers</strong><br />
              <small class="text-center" >Question and Answer</small></span>
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right visible-xs">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="my_account.html">ログイン</a></li>
            <li><a href="register.html">新規登録</a></li>
            <li><a href="account_dashboard.html">Myページ</a></li>
            <li><a href="account_ad_create.html">質問</a></li>
          </ul>
          <div class="nav navbar-nav navbar-right hidden-xs">
            <div class="row">
              <div class="pull-right">
                <p class="h4"> ようこそ  <a data-toggle="modal" data-target="#modalLogin"  href="#" class="link-info">ゲストさん</a>  <!--<a data-toggle="modal" data-target="#modalLogin"  href="#">ログイン</a>または<a href="register.html">新規登録</a>--> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="jumbotron home-search" style="">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <br />
            <p class="main_description">あなたの当たり前には価値がある。</p>
            <p class="main_description">困っている人を探して回答しよう。</p>
            <br /><br />

            <div class="row">
              <div class="col-sm-6" style="text-align: center">
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                    <div class="input-group">


                      <div class=" input-group-addon">
                        <div class="btn-group" >
                          <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown">
                            プログラミング <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">プログラミング</a></li>
                            <li><a href="#">WEBデザイン</a></li>
                            <li><a href="#">データベース</a></li>
                            <li><a href="#">セキュリティ</a></li>
                            <li><a href="#">ネットワーク</a></li>
                            <li><a href="#">OS</a></li>
                            <li><a href="#">Office</a></li>
                            <li><a href="#">画像処理・制作</a></li>
                            <li><a href="#">イラスト</a></li>
                            <li><a href="#">動画・映像</a></li>
                            <li><a href="#">音声・音楽</a></li>
                            <li><a href="#">その他</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-10 col-sm-offset-1" style="text-align: center; margin-top:20px;">
                  <a href="listings.html" class="btn btn-warning search-btn"> 質問</a>
                </div>


              </div>
              <div class="col-sm-6" style="text-align: center">
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                    <div class="input-group">
                      <span class="input-group-addon input-group-addon-text"></span><!--レイアウト調整用-->
                      <input type="text" class="form-control col-sm-3" placeholder="例) HTML..CSS..PHP..環境構築..デザイン..Word..Excel..">
                      <div class=" input-group-addon hidden-xs">
                        <div class="btn-group" >
                          <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown">
                            全カテゴリー <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">プログラミング</a></li>
                            <li><a href="#">WEBデザイン</a></li>
                            <li><a href="#">データベース</a></li>
                            <li><a href="#">セキュリティ</a></li>
                            <li><a href="#">ネットワーク</a></li>
                            <li><a href="#">OS</a></li>
                            <li><a href="#">Office</a></li>
                            <li><a href="#">画像処理・制作</a></li>
                            <li><a href="#">イラスト</a></li>
                            <li><a href="#">動画・映像</a></li>
                            <li><a href="#">音声・音楽</a></li>
                            <li><a href="#">その他</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-10 col-sm-offset-1" style="text-align: center; margin-top:20px;">
                  <a href="listings.html" class="btn btn-primary search-btn">　回答</a>
                </div>
              </div>

            </div>
            <br />
            <br />
            </div>
            <br />
            <br />
            <div class="row">
              <div class="col-sm-12" style="text-align: center">
                <div id="quotes" style="height:70px;"><!--高さ固定でレイアウトずれない-->
                  <div class="text-item h4" style="display: none;">どうしても解決できない質問を<strong>１対１の通話で解決</strong>できる新しいQ&Aサービスです。</div>
                  <div class="text-item h4" style="display: none;">解決すると<strong>500円～5000円</strong>の報酬をもらうことができます。</div>
                  <div class="text-item h4" style="display: none;">回答は<strong>Googleハングアウト</strong>で行います。質問者が用意しているので、煩わしい設定は必要ありません。</div>
                  <div class="text-item h4" style="display: none;">今すぐ回答を始めることができます。回答ボタンを押せば<strong>すぐに</strong>質問者と通話が始まります。</div>
                  <div class="text-item h4" style="display: none;">早速始めてみましょう。<strong>得意なキーワードで検索、または下のカテゴリーから</strong>選んでみましょう。</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <div class="row directory">
            <div class="col-sm-12 ">
              <h2><span>カテゴリー一覧</span></h2>
            </div>
          </div>
          <div class="row directory">
            <div class="col-xs-12">
              <div class="directory-block col-sm-4 col-xs-6">
                <div class="row">
                  <div class="col-sm-3">
                    <i class="fa fa-terminal"></i>
                  </div>
                  <div class="col-sm-9">
                    <h4>プログラミング</h4>
                    <p><a href="listings.html" >Cars</a>, <a href="listings.html" >Car Parts</a>, <a href="listings.html" >Campervans</a>, <a href="listings.html">Motobikes</a>, <a href="listings.html" >Scooters</a>, <a href="listings.html" >Vans</a>, <a href="listings.html" >Trucks</a></p>
                  </div>
                </div>
              </div>
              <div class="directory-block col-sm-4 col-xs-6">
                <div class="row">
                  <div class="col-sm-3">
                    <i class="fa fa-desktop"></i>
                  </div>
                  <div class="col-sm-9">
                    <h4>WEBデザイン</h4>
                    <p><a href="listings.html" >Cars</a>, <a href="listings.html" >Car Parts</a>, <a href="listings.html" >Campervans</a>, <a href="listings.html">Motobikes</a>, <a href="listings.html" >Scooters</a>, <a href="listings.html" >Vans</a>, <a href="listings.html" >Trucks</a></p>
                  </div>
                </div>
              </div>
              <div class="directory-block col-sm-4 col-xs-6">
                <div class="row">
                  <div class="col-sm-3">
                    <i class="fa fa-database"></i>
                  </div>
                  <div class="col-sm-9">
                    <h4>データベース</h4>
                    <p><a href="listings.html" >Cars</a>, <a href="listings.html" >Car Parts</a>, <a href="listings.html" >Campervans</a>, <a href="listings.html">Motobikes</a>, <a href="listings.html" >Scooters</a>, <a href="listings.html" >Vans</a>, <a href="listings.html" >Trucks</a></p>
                  </div>
                </div>
              </div>
              <div class="directory-block col-sm-4 col-xs-6">
                <div class="row">
                  <div class="col-sm-3">
                    <i class="fa fa-user-secret"></i>
                  </div>
                  <div class="col-sm-9">
                    <h4>セキュリティ</h4>
                    <p><a href="listings.html" >Cars</a>, <a href="listings.html" >Car Parts</a>, <a href="listings.html" >Campervans</a>, <a href="listings.html">Motobikes</a>, <a href="listings.html" >Scooters</a>, <a href="listings.html" >Vans</a>, <a href="listings.html" >Trucks</a></p>
                  </div>
                </div>
              </div>
              <div class="directory-block col-sm-4 col-xs-6">
                <div class="row">
                  <div class="col-sm-3">
                    <i class="fa fa-globe"></i>
                  </div>
                  <div class="col-sm-9">
                    <h4>ネットワーク</h4>
                    <p><a href="listings.html" >Cars</a>, <a href="listings.html" >Car Parts</a>, <a href="listings.html" >Campervans</a>, <a href="listings.html">Motobikes</a>, <a href="listings.html" >Scooters</a>, <a href="listings.html" >Vans</a>, <a href="listings.html" >Trucks</a></p>
                  </div>
                </div>
              </div>
              <div class="directory-block col-sm-4 col-xs-6">
                <div class="row">
                  <div class="col-sm-3">
                    <i class="fa fa-windows"></i>
                  </div>
                  <div class="col-sm-9">
                    <h4>OS</h4>
                    <p><a href="listings.html" >Cars</a>, <a href="listings.html" >Car Parts</a>, <a href="listings.html" >Campervans</a>, <a href="listings.html">Motobikes</a>, <a href="listings.html" >Scooters</a>, <a href="listings.html" >Vans</a>, <a href="listings.html" >Trucks</a></p>
                  </div>
                </div>
              </div>
              <div class="directory-block col-sm-4 col-xs-6">
                <div class="row">
                  <div class="col-sm-3">
                    <i class="fa fa-picture-o"></i>
                  </div>
                  <div class="col-sm-9">
                    <h4>画像処理・制作</h4>
                    <p><a href="listings.html" >Cars</a>, <a href="listings.html" >Car Parts</a>, <a href="listings.html" >Campervans</a>, <a href="listings.html">Motobikes</a>, <a href="listings.html" >Scooters</a>, <a href="listings.html" >Vans</a>, <a href="listings.html" >Trucks</a></p>
                  </div>
                </div>
              </div>
              <div class="directory-block col-sm-4 col-xs-6">
                <div class="row">
                  <div class="col-sm-3">
                    <i class="fa fa-paint-brush"></i>
                  </div>
                  <div class="col-sm-9">
                    <h4>イラスト</h4>
                    <p><a href="listings.html" >Cars</a>, <a href="listings.html" >Car Parts</a>, <a href="listings.html" >Campervans</a>, <a href="listings.html">Motobikes</a>, <a href="listings.html" >Scooters</a>, <a href="listings.html" >Vans</a>, <a href="listings.html" >Trucks</a></p>
                  </div>
                </div>
              </div>
              <div class="directory-block col-sm-4 col-xs-6">
                <div class="row">
                  <div class="col-sm-3">
                    <i class="fa fa-film"></i>
                  </div>
                  <div class="col-sm-9">
                    <h4>動画・映像</h4>
                    <p><a href="listings.html" >Cars</a>, <a href="listings.html" >Car Parts</a>, <a href="listings.html" >Campervans</a>, <a href="listings.html">Motobikes</a>, <a href="listings.html" >Scooters</a>, <a href="listings.html" >Vans</a>, <a href="listings.html" >Trucks</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row directory">
            <div class="col-xs-12">
              <div class="directory-block col-sm-4 col-xs-6">
                <div class="row">
                  <div class="col-sm-3">
                    <i class="fa fa-music"></i>
                  </div>
                  <div class="col-sm-9">
                    <h4>音声・音楽</h4>
                    <p><a href="listings.html" >Cars</a>, <a href="listings.html" >Car Parts</a>, <a href="listings.html" >Campervans</a>, <a href="listings.html">Motobikes</a>, <a href="listings.html" >Scooters</a>, <a href="listings.html" >Vans</a>, <a href="listings.html" >Trucks</a></p>
                  </div>
                </div>
              </div>
              <div class="directory-block col-sm-4 col-xs-6">
                <div class="row">
                  <div class="col-sm-3">
                    <i class="fa fa-ellipsis-h"></i>
                  </div>
                  <div class="col-sm-9">
                    <h4>その他</h4>
                    <p><a href="listings.html" >Cars</a>, <a href="listings.html" >Car Parts</a>, <a href="listings.html" >Campervans</a>, <a href="listings.html">Motobikes</a>, <a href="listings.html" >Scooters</a>, <a href="listings.html" >Vans</a>, <a href="listings.html" >Trucks</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4" style="margin-top:50px;">
          <div class="row">
            <div class="col-md-12 column">
              <div class="panel-group" id="panel-294417">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a class="panel-title" data-toggle="collapse" data-parent="#panel-294417" href="#panel-element-225514">DirectAnswerとは何ですか？</a>
                  </div>
                  <div id="panel-element-225514" class="panel-collapse collapse in">
                    <div class="panel-body">
                      Anim pariatur cliche...Anim pariatur cliche...Anim pariatur cliche...Anim pariatur cliche...Anim pariatur cliche...Anim pariatur cliche...Anim pariatur cliche...Anim pariatur cliche...Anim pariatur cliche...Anim pariatur cliche...
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a class="panel-title" data-toggle="collapse" data-parent="#panel-294417" href="#panel-element-19872">誰が利用すべきですか？</a>
                  </div>
                  <div id="panel-element-19872" class="panel-collapse collapse">
                    <div class="panel-body">
                      Anim pariatur cliche...
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a class="panel-title" data-toggle="collapse" data-parent="#panel-294417" href="#panel-element-111">質問者のメリット</a>
                  </div>
                  <div id="panel-element-111" class="panel-collapse collapse">
                    <div class="panel-body">
                      Anim pariatur cliche...
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a class="panel-title" data-toggle="collapse" data-parent="#panel-294417" href="#panel-element-1112">回答者のメリット</a>
                  </div>
                  <div id="panel-element-1112" class="panel-collapse collapse">
                    <div class="panel-body">
                      Anim pariatur cliche...
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h4>Direct Answersとは？</h4>
          <p class="text-left">
            どうしてもわからない問題を分かる人に直接教えてもらう新しいQ＆Aサービスです。
          </p>
        </div>
        <div class="col-sm-4">
          <h4>ご利用にあたって</h4>
          <ul class="list-unstyled text-left">
            <li>
              <a href="" class="link-info">利用規約</a>
            </li>
            <li>
              <a href="" class="link-info">プライバシーポリシー</a>
            </li>
            <li>
              <a href="" class="link-info">特定商取引法に基づく表記</a>
            </li>
            <li>
              <a href="" class="link-info">ご利用料金</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1" class="text-left">使ってみた感想などあればぜひ送ってください。今後の改善に役立てていきます。</label>
              <textarea class="form-control" rows="3" placeholder="感想・意見など"></textarea>
              <button type="submit" class="btn btn-info pull-right btn-sm" style="margin-top:5px;">送信</button>
            </div>
          </form>
          </p>
      </div>
    </div>
    <div class="col-md-12">
      <h6 class="text-center">
        Copyright (C) 2015 Direct Answers. All Rights Reserved.
      </h6>
    </div>
    </div>
  </footer>




    </div><!-- /.container --><!-- Modal -->
    <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLogin" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">ログイン</h4>
          </div>
          <div class="modal-body">
            <p>会員登録済みの場合はユーザー名かメールアドレス、パスワードを入力してください。</p>
            <form method="POST" action="account_dashboard.html" accept-charset="UTF-8" id="user-login-form" class="form ajax" data-replace=".error-message p">
              <div class="form-group">
                <input placeholder="ユーザー名かメールアドレス" class="form-control" name="email" type="text">                </div>
              <div class="form-group">
                <input placeholder="パスワード" class="form-control" name="password" type="password" value="">                </div>
              <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                  <button type="submit" class="btn btn-primary pull-right">ログイン</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <a data-toggle="modal" href="#modalForgot">パスワードが分かりませんか？</a>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer" style="text-align: center">
            <div class="error-message"><p style="color: #000; font-weight: normal;">または<a class="link-info" href="register.html">新規登録</a></p></div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal -->
    <div class="modal fade" id="modalForgot" tabindex="-1" role="dialog" aria-labelledby="modalForgot" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Forgot your password?</h4>
          </div>
          <div class="modal-body">
            <p>Enter your email to continue</p>
            <form role="form">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Your email address">
              </div>
              <div class="row">
                <div class="col-md-6">
                </div><div class="col-md-6">
                <a href="my_account.html" class="btn btn-primary pull-right">Continue</a>
                </div>
              </div>
            </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="js/jquery.flot.js"></script>
    <script src="js/dropzone.js"></script>
    <!-- Add fancyBox main JS and CSS files -->
    <script type="text/javascript" src="js/fancybox/jquery.fancybox.js?v=2.1.5"></script>
    <script type="text/javascript" src="js/fancybox/helpers/jquery.fancybox-buttons.js?v=2.1.5"></script>
    <script type="text/javascript" src="js/fancybox/helpers/jquery.fancybox-media.js?v=2.1.5"></script>
    <script src="js/global.js"></script>
  </body>
</html>
