<html>
  <head>
    <title>Socket.IO chat</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      #m{ border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      #submit { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>
  </head>
  <body>
    <ul id="logs"></ul>
    <form action="">
      <select id="rooms">
      <option value="room1">1</option>
      <option value="room2">2</option>
      </select>
      <input type="text" id="name">
      <input id="m" autocomplete="off" />
      <input type="submit" value="send" id="submit">
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      $(function(){

        var chat = io.connect('http://192.168.33.30:3000/chat');
        var news = io.connect('http://192.168.33.30:3000/news');
        $("form").submit(function(e){
          //e.preventDefault();
          chat.emit("chat message",{name:$("#name").val(),msg:$("#m").val(),room:$("#rooms").val()});
          $("#m").val("");
          return false;
        });
        chat.on("emit_from_server",function(data){
          $("#logs").append($("<li>").text(data.name+"さんから"+data.data));//{text:data}のjsonの値はこれで取れる。
        });


        news.on("message",function(data){
          console.log(data);
        });

      });
    </script>
  </body>
</html>
