<html>
<head>

</head>
<body>




<form method="post" action="/session">
<label>name</label>
<input type="text" name="name">

<label>email</label>
<input type="text" name="email">

<label>password</label>
<input type="text" name="password">
<input type="submit" value="保存">

</form>

<p>セッションの値は<%= session %>です！</p>







</body>


</html>
